{% extends 'base.html' %}
{% load material_form %}
{% load common %}

{% block title %}
FWPL Submit Answer
{% endblock %}

{% block nav %}

	<nav class="top-nav indigo darken-4">
        <div class="container">
            <div class="nav-wrapper">
                <a class="page-title" style="font-size: 30px;">
                    FW PREDICTOR LEAGUE
                </a>
            </div>
        </div>
    </nav>

    <div class="container">
        <a href="#" data-activates="slide-out"
           class="button-collapse top-nav full hide-on-large-only">
            <i class="material-icons">menu</i>
        </a>
    </div>

    <ul class="side-nav fixed" id="slide-out">
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><div class="divider"></div></li>
        <li><a href="{% url 'matchdays' m_count %}">Gameweeks</a></li>
        <li><a href="{% url 'matchdayperformance' m_count %}">Gameweek Performance</a></li>
        <li><a href="{% url 'leaguetable' %}">League Table</a></li>
        <li><div class="divider"></div></li>
        <li><a href="{% url 'logout' %}">Sign Out</a></li>
    </ul>


{% endblock %}

{% block main %}

<div class="row">
	<div class="col 4 m4 left-align">
		<h4><b>Submit Answer Form</b></h4>
	</div>
</div>

<div class="row">
	<div class="col s16 m12">
		<div class="card">
			<div class="card-content">
				<form method="POST" accept-charset="utf-8" class="viewform">
					{% csrf_token %}
					<h5>Question: {{question.q_text}}{% if question.margin != 0 %} (Margin: {{question.margin}}) {% endif %}</h5>
					<h5>{% form %}
                    {% endform %}</h5>
					<div class="right-align" >
						<button type="submit" name="_Login" class="waves-effect waves-light btn btn-primary btn-lg grey darken-3">Confirm<i class="material-icons right">done</i></button>
				</form>
			</div>
		</div>
	</li>
</ul>

{% endblock %}